
/*Basic */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 標楷體;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;}
    
body {
    line-height: 1;
    -webkit-text-size-adjust: none;
}

/* Basic */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding-top: 3.5em;
    background-color: #fafafa;
}

    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

body, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.85em;
    color: #888;
    font-weight: 300;
    font-size: 13pt;
}
article{
    margin-top: 0;
    padding-top: 0%;
}
section{
    margin-bottom: 5em;
}

a {
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: #43B3E0;
    text-decoration: underline;
}

    a:hover {
        color: #F68657 !important;
    }

    a img {
        border: 0;
    }

b, strong {
    font-weight: 1000;
    color: #3e3e3e;
}

i, em {
    font-style: italic;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

blockquote {
    border-left: solid 0.75em #eee;
    padding: 1em 0 1em 1.5em;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: #3e3e3e;
    margin: 0 0 0.75em 0;
   
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size:  5vmin;
    letter-spacing: -0.025em;
    font-weight: 300;
    margin-left: 1em;
}

    h1 strong {
        font-weight: 700;
    }

h2 {
    font-size: 2em;
    letter-spacing: -0.015em;
}

h3 {
    font-size: 1.5em;
    letter-spacing: -0.015em;
    font-family: 微軟正黑體;
}

em, i {
    font-style: italic;
}

br.clear {
    clear: both;
}

hr {
    border: 0;
    border-top: solid 1px #444;
    border-top-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    height: 1px;
    margin: 3em 0;
}

p, ul, ol, dl, table {
    margin-bottom: 2em;
}

header {
    margin: 2em 0 3em 0;
}

    header > p {
        font-size: 1.25em;
        margin: 0;
    }

footer {
    margin: 3em 0 0 0;
}

    footer > p {
        font-size: 1.25em;
    }
    .bag{
        
    }
    /* Wrappers */

	.wrapper {
	
		
		padding: 8em 0 8em 0;
		text-align: center;
	}

		.wrapper.style1 {
            background-image: url("images/bg.png");
            box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
			background-color: #fff;
		}

		.wrapper.style2 {
			background-color: #fafafa;
			text-shadow: 1px 1px 1px #fff;
		}

		.wrapper.style3 {
			background-color: #f4f4f4;
			text-shadow: 1px 1px 0px #fff;
		}

		.wrapper.style4 {
			background-color: #303030;
			color: #999;
			text-shadow: -1px -1px 0px #181818;
		}

			.wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
				color: #fff;
			}

			.wrapper.style4 form input[type=text],
			.wrapper.style4 form input[type=password],
			.wrapper.style4 form select,
			.wrapper.style4 form textarea {
				border: none;
                background: #282828;
                margin: 2%;
			}

				.wrapper.style4 form input[type=text]:focus,
				.wrapper.style4 form input[type=password]:focus,
				.wrapper.style4 form select:focus,
				.wrapper.style4 form textarea:focus {
					background: #252525;
				}

ul{
    list-style: none;
}

/* Nav */
#nav {
    background-color: #2b90d9;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
    height: 3.5em;
    line-height: 3.5em;
}

    #nav ul {
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
    }

    #nav li {
        display: inline-block;
        padding-left: 0;
        font-size: 3vmin;
    }

    #nav a {
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        position: relative;
        display: block;
        color: #fff;
        text-decoration: none;
        outline: 0;
        font-weight: 600;
        border-radius: 8px;
        color: #fff;
        height: 2.5em;
        line-height: 2.5em;
        padding: 0 1.25em;
    }

        #nav a:hover {
            color: #fff !important;
            background: #383838;
        }

        #nav a.active {
            background: #484848;
        }

            #nav a.active:before {
                content: '';
                display: block;
                position: absolute;
                bottom: -0.6em;
                left: 50%;
                margin-left: -0.75em;
                border-left: solid 0.75em transparent;
                border-right: solid 0.75em transparent;
                border-top: solid 0.6em #282828;
            }

	/* Nav */

    #nav {
        height: 9vmin;
        line-height: 9vmin;
    }

    
    .bigtitle{
        width: 40vmin;
    }

/* Wrappers */

.wrapper {
    padding: 1vmin;
    text-align: center;
}

/* Container */

.container {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 1200px;
}

    .container.medium {
        width: 900px;
    }

    @media screen and (max-width: 1680px) {

        .container {
            width: 1200px;
        }

            .container.medium {
                width: 900px;
            }

    }

    @media screen and (max-width: 1280px) {

        .container {
            width: 960px;
        }

            .container.medium {
                width: 720px;
            }
    }

    @media screen and (max-width: 980px) {

        .container {
            width: 100%;
        }
        body{
            padding: 0.25em;
        }
            .container.medium {
                width: 75%;
            }
            .dropdown{
                position: fixed;
                list-style: none;
                left: 95%;
            
            }
            
    }

    @media screen and (max-width: 736px) {

        .container {
            width: 100%;
            max-width: calc(100% - 20px);
        }
        body{
            padding: 0.5em;
        }
            .container.medium {
                width: 60%;
            }
            .dropdown{
                position: fixed;
                list-style: none;
                left: 95%;
            }
               
    }
                 
               
    

    img.square {
        padding: 10vmin 0;
        width: 35vmin;
        border-radius: 50%;
        
    }
    a.Anba{
        text-decoration:none;
        color: #004e66;
        font-weight:bold;
    }
 
    a.Anba:hover {
        background-color: #ffda8e;
    }
    input.position{
        width: 100%;

    }
    .col-sm-6{
        padding-left: 5%;
    }
    #div1{
        color: #192231;
    }
    .introduction{
        color: #565656;
        font-weight: 900;
        text-align: left;
        margin-top: 0.5em;
    }
    img.NBA{
        margin-top: 2em;
        width: 100%;
        height: 80%;
    }
    p.home{
        margin-left: 2em;
        font-size: 3vmin;
        color: #6E7783;
        text-align: left;
    }
    p.team{
        color:#3C3530;
    }
    img.position{
        width: 10%;
        margin: 10px;
    }
    img.position3{
        width: 80%;
    }
    input.position2{
        width: 50%;
    }
    #img2DivHide{
        
        top: 0;
        left: 0;
        bottom:0;
        margin: auto;
    }
    #imgDivHide{
        top: 0;
        left: 0;
        bottom:0;
        margin: auto;
    }
    p.ball{
        margin-bottom: 1em;
        text-align: left;
        color: #D09E88;
        font-weight: bold;font-weight:bolds
    }
    p.posn{
        color:#4F86C6;
    }
    img.num{
        width: 5vmin;
        border-radius: 50%;
    }
    header.my
    {
        font-size: 3.5vmin;
        margin: 2em 0 2.5em 0;
        font-family: setofont;

    }
    .titlea{
        
        font-family: setofont;
        color: #fab95b;
    }
    .videoWrapper{
      width: 100%;
    }
    .photoa{
        width: 15vmin;

    }
/*table*/
/*表格內文字*/
    .season{
       font-size: 2.5vmin;
    }
/*總冠軍*/
    .table-hover>tbody>tr:hover{
        background-color: #FBFFB9;
    }
/*總冠軍字體*/
   .NBACH{
       color:#C65146;
   }
/*50名人堂*/
   .table-hover2>tbody>tr:hover{
    background-color: #D8E6E7;
    }
  

.npust{
    color:#624d56;
    background-color:  #7eab95 ;
}
.titleb{
    color: #6a60a9;
}
/*球員超連結*/
a.nameplayer{
    color: #cdfbff  !important;
    text-decoration: none;
  
}
a.nameplayer:hover{
    color: #004a2f !important;
  
}
.playername{
    margin-top: 1vmin;
    color: #cdfbff  ;
    background-color: #9c8b5e;
    border-radius: 20px;
    font-size: 2vmin;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2vmin;
}
.math{
    margin-top: 2vmin;
    font-size: 1.5vmin;
    height: 0.3vmin;
    line-height: 5vmin;
}
/*清單超連結*/
a.list{
    margin-top: 2em;
    display: block;
    text-decoration: none;
    font-weight:1200;
    color: #d2d78b ;
    background-color: #2a256d;
    font-size: 3vmin;
    line-height: 3em;
    font-family: setofont;
    text-align: center;
    border-radius: 9px;
}
a.list2{
    margin-top: 2em;
    display: block;
    text-decoration: none;
    font-weight:1200;
    color: #d2d78b ;
    background-color: #22a1e1;
    font-size: 3vmin;
    line-height: 3em;
    font-family: setofont;
    text-align: center;
    border-radius: 9px;
}
.dropdown{
    position: fixed;
    list-style: none;
    left: 95%;
}
a.list:hover{
    color: #fff !important;
    background: #383838;
    border-radius: 19px;
    
}
a.list2:hover{
    color: #fff !important;
    background: #401010;
    border-radius: 50px;
    
}
.novel{
    color: #913700;
    text-align: centers;
    font-weight: 900;
    font-size: 6vmin;
}
/*music*/
  .music1{
      color: #226b80;
      font-size: 6vmin;
      font-weight: 900;
  }
  .ball1{
      color: #010059;
      text-align: center;
      font-size: 6vmin;
      font-weight: 900;
  }
  .ball2{
    color: #010059;
    text-align: center;
    font-size: 4vmin;
}
.teamphoto{
    width:  220px;
    height:220px;
}
.pfo{
    color: #2a256d;
    font-size: 6vmin;
    font-weight: 900;
}
.footer{
    text-align: center;
    background-color: black;

}
.footerp{
    font-size: 3vmin;
    color: white
}
/*照片輪播*/
  
  .carousel .carousel-item img {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    
  }
  
        @media (max-width: 768px) 
                    {
                        .carousel .carousel-item img  {
                        max-height: 500px;
                        max-width: 100%;
                        object-fit: cover;
                         }
                         .carousel{
                             margin-top: 1em;
                             padding: 0%;
                         }
                         
                    }
.NBAteaa{
    font-size: 3.5vmin;
    
}
.NBAteab{
    font-size: 3.5vmin;
    text-align: left;

}
.foodname{
    color: #211717;
    font-weight: 900;
    background-color:  #f3c1c6;
    border-radius: 20px;

}

/* Form */

form label {
    color: #3e3e3e;
    font-weight: 700;
    display: block;
    margin: 0 0 0.5em 0;
}

form input[type=text],
form input[type=email],
form input[type=password],
form select,
form textarea {
    -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0.75em;
    font-size: 1em;
    border-radius: 8px;
    border: solid 1px #ddd;
    background: #fff;
    color: #bbb;
    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
    width: 100%;
}

    form input[type=text]:focus,
    form input[type=email]:focus,
    form input[type=password]:focus,
    form select:focus,
    form textarea:focus {
        background: #fafafa;
        box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025), inset 0px 0px 2px 1px #43bff0;
    }

form textarea {
    height: 15em;
}

form .actions:last-child {
    margin-bottom: 0;
}

form ::-webkit-input-placeholder {
    color: #555 !important;
}

form :-moz-placeholder {
    color: #555 !important;
}

form ::-moz-placeholder {
    color: #555 !important;
}

form :-ms-input-placeholder {
    color: #555 !important;
}

form ::-moz-focus-inner {
    border: 0;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    background-image: url("images/bg.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url("images/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url("images/bg.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url("images/bg.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    position: relative;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
    background-color: #43B3E0;
    padding: 1em 2.35em 1em 2.35em;
    font-size: 1em;
    max-width: 20em;
}

    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
        background-color: #43bff0;
        color: #fff !important;
    }

    input[type="button"]:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    button:active,
    .button:active {
        background-color: #3BA8D3;
        top: 1px;
    }

    input[type="button"].large,
    input[type="submit"].large,
    input[type="reset"].large,
    button.large,
    .button.large {
        font-size: 1.5em;
        letter-spacing: -0.025em;
    }

    input[type="button"].alt,
    input[type="submit"].alt,
    input[type="reset"].alt,
    button.alt,
    .button.alt {
        background-color: #444;
        box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
    }

        input[type="button"].alt:hover,
        input[type="submit"].alt:hover,
        input[type="reset"].alt:hover,
        button.alt:hover,
        .button.alt:hover {
            background-color: #4f4f4f;
            color: #fff !important;
        }

        input[type="button"].alt:active,
        input[type="submit"].alt:active,
        input[type="reset"].alt:active,
        button.alt:active,
        .button.alt:active {
            background-color: #3f3f3f;
        }